{% extends 'info/layout.html' %}

{% block title %}Создание данных пользователя{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению данных</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.age }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить данные</button>
        </form>
    </div>
{% endblock %}
